##crontab to install

#*/5 * * * * ( svn up /home/EIM/checks > /dev/null 2>&1 ) # or git pull..
*/15 * * * * ( ntpdate -p 8 time.nist.gov pool.ntp.org > /dev/null 2>&1 )
0,10,20,30,40,50 * * * * ( cd /home/monitoring/EIM/ ; if ./dispatch.rb > /dev/null 2>&1; then echo 'checks ok'; else echo -e 'To: bofh@admin.com\nFrom: ext_monitoring.bofh@admin.com\nSubject: monitoring cronjob failure on INSERT_HOSTNAME\nBody:\n\nplease fix this immediately!' | /usr/sbin/sendmail -t; fi )